**/.DS_Store

temp/

# Compiled Executables
bin/

# IntelliJ
**/.idea/**/*

# VS Code
**/.vscode/**/*

# Visual Studio
vs/.vs/
vs/Win32/
vs/x64/

# Python API
**/build/**/*
**/__pycache__/**/*

# Swift Package Manager
**/.build/**/*
