**/.DS_Store

temp/

# Compiled Executables
jbw/tests/diffusion_test
jbw/tests/map_test
jbw/tests/network_test
jbw/tests/simulator_test
jbw/tests/renderer_test
jbw/visualizer/jbw_visualizer

# IntelliJ
**/.idea/**/*

# VS Code
**/.vscode/**/*

# Python API
**/build/**/*
**/__pycache__/**/*

# Swift Package Manager
**/.build/**/*
