**/.DS_Store

temp/

# Compiled Executables
jbw/diffusion_test
jbw/map_test
jbw/network_test
jbw/simulator_test
jbw/visualizer/renderer_test
jbw/visualizer/visualizer_test

# IntelliJ
**/.idea/**/*

# VS Code
**/.vscode/**/*

# Python API
**/build/**/*
**/__pycache__/**/*

# Swift Package Manager
**/.build/**/*
